body{
    background-color: #708090;
    text-align: center; 
}
table {
    margin: 5px auto;
    border-radius: 20px;
    background-color: black;
    text-align: center;
}
a{
    color: #F0FFF0;
    text-decoration: none;
}
#info{
    width: 720px;
    height: 360px;
    border-radius: 15px;
}
.ultra p{
    text-align: center;
}
p{
    text-align: left;
}
a:visited{
    color: aliceblue;
}
.bg-DarkGray{
    background: #A9A9A9;
}
.bg-DarkGray{
    background: #A9A9A9;
}
.bg-DarkGray{
    background: #A9A9A9;
}
.bg-DarkGray{
    background: #A9A9A9;
}
.card{
    padding: 15px 40px;
    margin-bottom: 5px;
    border-radius: 15px;
}
.container{
    margin: auto;
    max-width: 1280px;
    /*background: black;*/
}
.yes{
    padding: 3px 294px;
    border-radius: 15px;
}
.container2{
    padding: 10px 45px;
    background-color: #B0E0E6;
    border-radius: 15px;
}
.container3{
    padding: 5px 45px;
    background-color: #F0FFF0;
    margin-bottom: 10px;
    border-radius: 15px;
}
table {
    margin: 10px auto;
}
.container4{
    text-align: center;
}